<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> Prohibió que se guardara esta película</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>
  <div class="form-group">
    <%= form.label :duration %>
    <%= form.time_select :duration, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= form.label :cine_id %>
  <%= select("movie", "cine_id", @cine, { include_blank: true }, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= form.label :date_time_movie %>
    <%= form.datetime_select :date_time_movie %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar Pelicula", class: "btn btn-dark btn-block" %>
  </div>
<% end %>
