<div class="row justify-content-center ml-5 ">
<div class="col-sm-12 col-xl-6 col-md-12">
<div class="card">
<div class="card-body show">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @movie.name %>
</p>
<p>
  <strong>Cine:</strong>
  <%= @movie.cine.name %>
</p>
<p>
  <strong>Duracion:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Fecha de estreno:</strong>
  <%= @movie.date_time_movie %>
</p>

<%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-dark " %> 
<%= link_to "Back", movies_path, class: "btn btn-outline-dark ml-3" %>
</div>
</div>
</div>
</div>